language: python
python:
  - "2.6"
  - "2.7"
  - "3.2"
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.6"
# command to install dependencies
install:
  - pip install skbuild 
  - pip install cmake
  - pip install -r python-package/requirements.txt
# command to run tests
script: pytest
